<!-- Tab Contents -->
<div class="tab-content">
    <%- include('player-stats-panel') %>

    <%- include('player-equipment-tab') %>
    <%- include('player-skills-tab') %>
    <%- include('player-items-tab') %>
    <%- include('player-explorer-tab') %>
    <%- include('player-data-management-tab') %>
</div>
