<!-- Tab Contents -->
<div class="tab-content">
    <%- include('player-stats-panel') %>

    <%- include('player-equipment-panel') %>
    <%- include('player-skills-panel') %>
    <%- include('player-items-panel') %>
    <%- include('player-explorer-panel') %>
    <%- include('player-data-management-panel') %>
</div>
